<div class="background">
    <div id="container">
        <video #video 
            class="player" 
            src="http://2.bp.blogspot.com/jUiEVhBt0Vpe6tQd_OW1uJBfF2scSy7BbCCifQc4RaKtKVqw3O5X_485E1il3NCIIo_X5468orIbI5LYZ3NkecGS4pUYmIhd=m22" >
        </video>
        <div class="player-controlls">
            <button *ngIf="!isPlaying" class="btn btn-primary" (click)="play();"><span class="fa fa-play-circle"></span></button>
            <button *ngIf="isPlaying" class="btn btn-primary" (click)="pause();"><span class="fa fa-pause-circle"></span></button>
            <button class="btn btn-primary" (click)="rewind();">Back to beginning</button> 
            <!--<div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>          -->
            <p class="ngb-progressbar" type="success" value="25"></p>
            
        </div>
    </div>
</div>
